.RdYlBu .q0-11 {
  fill: rgb(165, 0, 38)
}
.RdYlBu .q1-11 {
  fill: rgb(215, 48, 39)
}
.RdYlBu .q2-11 {
  fill: rgb(244, 109, 67)
}
.RdYlBu .q3-11 {
  fill: rgb(253, 174, 97)
}
.RdYlBu .q4-11 {
  fill: rgb(254, 224, 144)
}
.RdYlBu .q5-11 {
  fill: rgb(255, 255, 191)
}
.RdYlBu .q6-11 {
  fill: rgb(224, 243, 248)
}
.RdYlBu .q7-11 {
  fill: rgb(171, 217, 233)
}
.RdYlBu .q8-11 {
  fill: rgb(116, 173, 209)
}
.RdYlBu .q9-11 {
  fill: rgb(69, 117, 180)
}
.RdYlBu .q10-11 {
  fill: rgb(49, 54, 149)
}